#twinsImage {
    width: 90%;
    height: 80%;
    position: relative;
    margin: 1em;
    border-radius: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainDiv {
    position: absolute;
    top: 2em;
    border: 1px solid steelblue;
    border-radius: 2em;
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.resultTextArea {
    width: 100%;
    margin: 1em;
}

.mainBtn {
    /* margin: 2em; */
}

#welcome {
    position: fixed;
    left: 10%;
    right: 10%;
    width: 80%;
    /* height: 30%; */
    top: 10%;
    z-index: 1000;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;

}

#titleBar {
    position: relative;
    /* background-color: green; */
    margin: -2%;
    height: auto;
    width: 104%;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
}

#containerCloser {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 100%;
    /* background-color: red; */
    position: relative;
    width: auto;
}

#iconCloser {
    cursor: pointer;
    z-index: 1050;
}

#welcomeMessage {
    text-indent: 1em;
    margin: 1em;
    margin: 2em;
    font-size: 20pt;
}

#bottonWelcome {
    position: relative;
    width: 100%;
    /* height: 50%; */
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

p {
    text-indent: 1em;
}

#mainH1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#divResult {
    position: fixed;
    border-radius: 10px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: black;
    width: 98%;
    height: auto;
    /* padding: 2%; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    z-index: 10000;
    top: 5em;
}

#divResultTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    top: 0;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    width: 102%;
    border: 1px solid black;
}

#iconCloserDivResult {
    cursor: pointer;
}

#divResultTitle {}

#containerIconCloseDivResult {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 100%;
    /* background-color: red; */
    position: relative;
    width: auto;
}

#divTextResult {
    margin: 2em;
    border: 1px solid steelblue;
    padding: 1%;
    border-radius: 4px;
    max-width: 100%;
    width: 100%;
    width: auto;
    overflow: auto;
}

#errorFetch {
    margin: 2em;
}

#btnCloseDivResult {
    margin: 0.5em;
}

#outroExemplo {
    width: 100%;
    margin-bottom: 1em;
}

#spinner {
    display: none;
    position: fixed;
    /*256 pixels a imagem tem*/
    top: calc(50% - 128px);
    left: calc(50% - 128px);
}

/* #divRestartAlt {
    display: none;
    border-radius: 100%;
    padding: 0.5em;
    cursor: pointer;
    border: 4px solid black;
} */

.flex-divRestartAlt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#restartAlt {
    font-size: 30pt;
    font-weight: bold;
}

#imgRegraTres,
#imgCalculator {
    width: 10%;
    height: 10%;
    font-size: 4em;
    cursor: pointer;
}

#divImgRegraTres,
#divImgCalculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
}

#divIconCalculator {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 121px;
}

.smallZoom * {
    zoom: 75%;
}

#divRegraTres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5%;
    left: 5%;
    border-radius: 4px;
    border: 1px solid black;
    height: 90%;
    width: 90%;
    z-index: ;
    background-color: white;
}

#divRegraTres>img {
    position: relative;
    width: 70%;
}

.divPartRuleThree {
    border-radius: 4px;
    position: relative;
    height: 100%;
    width: 50%;
    border: 1px solid black;
    background-color: white;
    color: black;
}

#divContainerRegraTres {
    position: relative;
    width: 98%;
    height: 85%;
    margin-bottom: 4px;
    margin-top: 4px;
}

#btnResultRegraTres {
    margin-top: 4px;
    margin-bottom: 4px;
}

#divLinhaDeCimaRegraTres,
#divLinhaDeBaixoRegraTres {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

#divLinhaDeCimaRegraTres {
    /* margin-top: 4px; */
}

#divLinhaDeCimaRegraTres *,
#divLinhaDeBaixoRegraTres * {
    margin: 4px;
}

#divPrimeiroCampoRegraTres,
#divSegundoCampoRegraTres,
#divTerceiroCampoRegraTres,
#divQuartoCampoRegraTres {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25pt;
}

#divPrimeiroCampoRegraTres::placeholder,
#divSegundoCampoRegraTres::placeholder,
#divTerceiroCampoRegraTres::placeholder {
    font-size: 10pt;
}

#divQuartoCampoRegraTres::placeholder {
    font-size: 50pt;
}

 #iconCloseRegraTres {
    cursor: pointer;
 }