#twinsImage {
    width: 90%;
    height: 80%;
    position: relative;
    margin: 1em;
    border-radius: 5px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainDiv {
    position: absolute;
    top: 2em;
    border: 1px solid steelblue;
    border-radius: 2em;
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.resultTextArea {
    width: 100%;
    margin: 1em;
}

.mainBtn {
    /* margin: 2em; */
}

#welcome {
    position: fixed;
    left: 10%;
    right: 10%;
    width: 80%;
    /* height: 30%; */
    top: 10%;
    z-index: 1000;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;

}

#titleBar {
    position: relative;
    /* background-color: green; */
    margin: -2%;
    height: auto;
    width: 104%;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: black;
}

#containerCloser {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 100%;
    /* background-color: red; */
    position: relative;
    width: auto;
}

#iconCloser {
    cursor: pointer;
    z-index: 1050;
}

#welcomeMessage {
    text-indent: 1em;
    margin: 1em;
    margin: 2em;
}

#bottonWelcome {
    position: relative;
    width: 100%;
    /* height: 50%; */
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

p {
    text-indent: 1em;
}

#mainH1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#divResult {
    position: fixed;
    border-radius: 10px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: black;
    width: 98%;
    height: auto;
    /* padding: 2%; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    z-index: 10000;
    top: 5em;
}

#divResultTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    top: 0;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    width: 102%;
    border: 1px solid black;
}

#iconCloserDivResult {
    cursor: pointer;
}

#divResultTitle {

}

#containerIconCloseDivResult {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    border-radius: 100%;
    /* background-color: red; */
    position: relative;
    width: auto;
}

#divTextResult {
    margin: 2em;
    border: 1px solid steelblue;
    padding: 1%;
    border-radius: 4px;
    width: auto;
}

#errorFetch {
    margin: 2em;
}

#btnCloseDivResult {
    margin: 0.5em;
}